@font-face {
    font-family: 'open-sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

body {
    background-color: #16161a;
    font-family:'open-sans'
}

.topnav {
    position: fixed;
    top: 0%;
    height: 90px;
    width: 100%;
    text-align:center;
    background-color: #0b0b0d;
    border: solid;
    border-color: #707070;
}

nav li:hover {
    font-weight:bolder;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li {
    display: inline;
    padding-left: 10px;
    font-family: arial;
}

h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;
    font-family: 'open-sans';
}

/*anchor tag*/
a {
    color: white;
    text-decoration: none;
}

p {
    color: white;
}

.welcomebox_one {

    order: 1;
    float: left;
    background-image: url('../images/pexels-photo-2047905.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    max-width: 800px;
    text-align: center;
    /*margin-right: auto;*/
}

.welcomebox_two {

    order: 2;
    float: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #707070;
    max-width: 800px;
    text-align: center;
    /*margin-left: auto; */
}

.box-wrapper {

display: flex;
flex-wrap: wrap;
height: 830px;
margin-top: 100px;
}

.box-wrapper > div {

    line-height: 100px;
}

i {
    color: white;
}
