@font-face {
    font-family: 'open-sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

/* apply a natural box layout model to all elements, but allowing components to change
 https://www.paulirish.com/2012/box-sizing-border-box-ftw /*/
 
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: #16161a;
    font-family:'open-sans'
}

.topnav {
    position: relative;
    height: 150px;
    text-align:center;
    background-color: #0b0b0d;
    border: solid;
    border-color: #707070;
}

nav li:hover {
    font-weight:bolder;
}

ul#horizontal-list {
    position: relative;
    max-width: 696px;
    list-style: none;
}

ul#horizontal-list li {
    display: inline;
    padding: 10px;
    font-family: arial;
    position: relative;
    top: -50px;
}

.logo {
    position: relative;
    left: -340px;
    border: 0px;
    width: 240px;
}

h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;
    font-family: 'open-sans';
}

h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;
    font-family: 'open-sans';
}

/*anchor tag*/
a {
    color: white;
    text-decoration: none;
}

p {
    color: white;
}

.welcomebox_one {

    order: 1;
    background-size: cover;
    background-image: url('../images/pexels-photo-2047905.jpeg');
    text-align: center;
    width: 50%;
    height: 600px;
    padding: 0px;
    margin: 0px;
    border: 1px solid springgreen;
    float: left;

    /*margin-right: auto;/*/
}

.welcomebox_two {

    order: 2;
    background-size: cover;
    background-color: #707070;
    text-align: left;
    width: 50%;
    height: 600px;
    padding: 0px;
    margin: 0px;
    border: 1px solid springgreen;
    float: right;

    /*margin-left: auto;/*/
}

.box-wrapper {
/* overflow make it so that the parent wont be affected by the floating children./*/

overflow: auto; 
margin-top: 10px;
border: solid 1px #dbf548;
background-color: #0b0b0d;

}

/*
.box-wrapper > div {

    line-height: 100px;
}
/*/
i {
    color: white;
}