/* clubs page */
.clubs-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.clubs-h1 {
    padding: 1.5rem;
    margin: 1rem;
}

.clubs-h2 {
    color: #7D5455;
    padding: 1rem;
}

.club-box-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
}

.clubs-h2-img-wrap {
    display: flex;
}

.img-fixed2-scale {
    height: auto;
    width: clamp(100px, 100%, 600px);
}

.clubs-paragraph {
    max-width: 600px;
    padding: 0.5rem;
}

.bg-img-forest {
    background-image: url(/images/background/forest.jpg);
    background-size: cover;
}

.club-box-2 {
    margin: 1rem;
    padding: 0 2rem;
}

.clubs-h2-green {
    color: #021704;
}

.club-box-2-text {
    width: fit-content;
    margin: 0 auto;
}

@media (max-width: 900px) {

    .clubs-h2-img-wrap {
        flex-direction: column;
    }}

    @media (min-width: 900px) {

        .clubs-paragraph {
            max-width: 800px;
            padding: 2rem;
        }}