header {
    background: linear-gradient(#00337e 70%, #fff 30%);
    display: grid;
    grid-template-areas: none;
    grid-template-areas: "logo header nav nav"
                         "logo search search search";
}

.logo {
    height: auto;
    width: clamp(50px, 100%, 150px);
    max-width: 110px;
    grid-area: logo;
    padding: 3px;
}

.header-header {
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: 'ethnocentric', 'Gill Sans MT', helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    grid-area: header;
}

.topnav {
    height: fit-content;
    width: fit-content;
}

.li-nav {
    font-family: 'transducer', 'gill sans MT', sans-serif;
    font-weight: 100;
    padding: 0.5em;
    height: fit-content;
}

.nav-flex {
    display: flex;
}

.search {
    font-family: 'Gill Sans MT', Gill Sans, Calibri;
    border-radius: 5px;
    grid-area: search;
}

/* Hamburger menu checkbox hack */

nav {
    display: none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

@media (min-width: 900px) {
    .mobile-menu {
        display: none;
    }
    nav {
        display: inline-block;
    }

.search-bar, .logo-header {
    grid-area: left-a;
    margin-left: 8rem;
}}

@media (max-width: 900px) {
    .nav-flex {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 2rem;
        position: absolute;
        margin: 11rem 0 0 -12.3rem;
        background-color: #00337e;
    }
    .li-nav {
        font-family: 'transducer', 'gill sans MT', sans-serif;
        font-weight: 100;
        margin-bottom: 1em;
        padding: 0.5em 2em;
        /* border: solid white 1px;
        border-radius: 10px; */
        text-align: left;
    }
    .mobile-menu {
        grid-area: left-b;
        margin-top: 1rem;
    }
header {
    background: linear-gradient(#00337e 60%, #fff 40%);
    grid-template-columns: 1fr 2fr 2fr;
}}

    @media (max-width: 1200px) {
        .logo-header {
            font-size: 1rem;
        }
    
    .search-bar {
        margin-top: 11em;
    }}

  /*   footer */
  footer {
    background-color: #fff;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.h3-footer {
    color: #082154;
}