header {
    background: linear-gradient(#00337e 60%, #fff 40%);
    display: grid;
    grid-template-areas: none;
    grid-template-areas: "logo header nav nav"
                         "logo search nav nav";
}

.logo {
    height: auto;
    width: clamp(50px, 100%, 150px);
    max-width: 110px;
    padding: 3px;
}

.header-header {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    font-family: 'ethnocentric', 'Gill Sans MT', helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    grid-area: header;
    margin-left: 1.5rem;
}

.topnav {
    height: fit-content;
    width: fit-content;
}

.li-nav {
    font-family: 'transducer', 'gill sans MT', sans-serif;
    font-weight: 100;
    padding: 0.5em;
    height: fit-content;
}

.nav-flex {
    display: flex;
}

.search {
    font-family: 'Gill Sans MT', Gill Sans, Calibri;
    border: 2px solid #0C1F3B;
    border-radius: 5px;
    grid-area: search;
    margin: -2.4rem 0 0 2rem;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    height: 30px;
}

.search-label {
    color: #3d434b;
}

#search-bar {
    border: #fff;
    height: 20px;
}

.search-lens {
    padding: 4px;
}

/* Hamburger menu checkbox hack */

nav {
    display: none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

@media (min-width: 900px) {
    .mobile-menu {
        display: none;
    }
    nav {
        display: block;
    }}
    @media (min-width:1750px) {
        .search, .header-header {
            margin-left: -14rem;
        }}
@media (max-width: 900px) {
    .nav-flex {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 2rem;
        position: absolute;
        margin: 11rem 0 0 -12.3rem;
        background-color: #00337e;
    }
    .li-nav {
        font-family: 'transducer', 'gill sans MT', sans-serif;
        font-weight: 100;
        margin-bottom: 1em;
        padding: 0.5em 2em;
        text-align: left;
    }
    .mobile-menu {
        margin: 1.5rem 1rem 0 0;
        grid-area: search;
    }
    .search, .header-header {
        margin-left: 3rem;
    }}
    @media (max-width: 400px) {
        .search {
            margin: 0.5rem 0 0.5rem 0;
        }}
        @media (max-width: 800px) {
            .header-header {
                margin: 2rem 2rem;
    }}

  /*   footer */
  footer {
    background-color: #fff;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.h3-footer {
    color: #082154;
}