:root {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.text-white {
    color: white;
}

h1 {
    font-family: 'loos-normal', helvetica, arial;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-family: 'loos-normal', helvetica, arial;
    font-weight: 500;
    font-style: normal;
}

h3 {
    font-family: 'Gill Sans MT', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'transducer', sans-serif;
    font-weight: 400;
}

body {
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.emphasize-text {
    font-family: 'loos-normal', sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block;
    /* font-size: 2.1rem; */
    font-size: clamp(0.8rem, 5vw, 2.1rem);
    padding-top: 0.2rem;
}

.h-two-fonts {
    font-family: 'transducer', sans-serif;
    font-weight: 400;
    /* font-size: 1.2rem; */
    font-size: clamp(0.5rem, 4vw, 1.2rem);
    color: #272C32;
}

.text-margin-left {
    margin-left: 1rem;

}

.home-container1 {
    background-image: url(/images/background/museum-hall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}

.home-box1, .home-box2, .home-box3 {
    background-color: white;
    margin: 2em;
}

.home-box2 {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.home-box3-content-wrap {
    display: flex;
    justify-content: space-between;
}

.img-auto-scale {
    height: auto;
    width: 100%;
    vertical-align: bottom;/* why does it only work on box2?? */
}

.button1 {
    background-color: #00337E;
    font-family: 'loos-normal', sans-serif;
    font-weight: 300;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    height: 18px;
    width: 145px;
}

.button2 {
    display: inline;
    margin: 0 auto;
    background-color: #EEF5FF;
    border: solid 2px #00337E;
    color: #061429;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
}

.home-box4, .home-box5, .home-box6 {
    background-color: white;
    margin: 3em 3em;
}

@media (min-width: 1000px) {
    .home-container1 {
        display: flex;
    }
    .home-container2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }}

    /* About page */
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem;
}
.about-h1-img-wrap {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    color: #E8E9C7;
    margin-bottom: 2rem;
    border: solid 2px black;
}

.about-h1 {
    position: absolute;
    top: 9%;
    left: 40%;
    font-family: 'cormorant-garamond', serif, sans-serif;
    font-weight: 700;
    font-size: clamp(1rem, 4vw, 2rem);
}

.about-img-staff {
    height: auto;
    width: clamp(150px, 650px, 100%);
}

.about-paragraph {
    max-width: 700px;
}

.contact-wrap {
    border: solid 1px #272C32;
    padding: 1rem;
}

/* Article page */
.article-h1-img-wrap {
    position: relative;
    text-align: center;
    color: #fff;
    margin: 1.5rem 0 1.5rem 0;
}

.article-h1 {
    position: absolute;
    bottom: 8px;
    right: 10px;
    font-family: 'cormorant-garamond', serif, sans-serif;
    font-weight: 500;
    font-size: clamp(2rem, 6vw, 4rem);
}

.img-fixed-scale {
    height: auto;
    width: clamp(100px, 100%, 1000px);
}

/* p, .article-text {
    font-size: clamp(0.2rem, 2vw, 2rem);
} */

.articles-main {
    display: flex;
    justify-content: center;
}

.article-grid-container {
    background-color: #fff;
    margin-bottom: 1.5rem;
}

.h2-img-wrap-inner {
    display: flex;
    justify-content: space-between;
}

.h2-img-wrap-outer {
    display: none;
}

.article-header {
    max-width: 250px;
    margin-top: 5rem;
}

.article-paragraph, .article-header {
    padding: 2rem;
}

.biomed-h2 {
    color: #773A38;
}

@media (min-width: 1000px) {
    .article-grid-container {
        grid-template-areas: none;
        display: grid;
        grid-template-areas: "text img";
        grid-template-columns: 2fr 1fr;
    }
    .articles-main, .about-container {
        margin: 1rem 20rem 0 20rem;
    }
.article-header {
    grid-area: text;
    margin-top: -1rem;
}
.article-paragraph {
    grid-area: text;
    margin-top: 8rem;
    max-width: 600px;
}
.article-image {
    grid-area: 'img';
}
.article-h-img-wrap {
    display: block;
}
.h2-img-wrap-inner {
    display: none;
}
.h2-img-wrap-outer {
    display: block;
}}

@media (max-width: 1300px) {
    .articles-main, .about-container {
        margin: 2rem 2rem 0 2rem;
    }}