@font-face {
    font-family: Gotic-sans, times, verdana, arial, 'Bowlby One SC', cursive;
    src: url();
}

:root {
    margin: 0;
    padding: 0;
}

header {
    background-color: #00337E;
    background-repeat: no-repeat;
    contain: content;
}

.article {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-family: 'loos-normal', helvetica, arial;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-family: 'loos-normal', helvetica, arial;
    font-weight: 500;
    font-style: normal;
}

h3 {
    font-family: 'Gill Sans MT', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'transducer', sans-serif;
    font-weight: 400;
}

.emphasize-text {
    font-family: 'loos-normal', sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block;
    font-size: 1.5em;
    padding-top: 0.2em;
}

.h-two-fonts-blue {
    font-family: 'transducer', sans-serif;
    font-weight: 400;
    color: #00337e;
}

#home-box2-p {
    font-size: 1.4em;
}

.home-container1 {
    background-image: url(/images/background/museum-hall.jpg);
    background-repeat: no-repeat;
}

.home-box1, .home-box2, .home-box3 {
    background-color: white;
    margin: 1em;
    padding: 1em;
    width: fit-content;
    height: fit-content;
}

.home-box2 {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.home-box3-content-wrap {
    display: flex;
    justify-content: space-between;
}

.home-img {
    height: auto;
    width: 100%;
}

.button1 {
    background-color: #00337E;
    font-family: 'loos-normal', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 0.5em 1.5em;
}

@media (min-width: 1000px) {
    .home-container1 {
        display: flex;
    }}