:root {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.text-white {
    color: white;
}

h1 {
    font-family: 'loos-normal', helvetica, arial;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-family: 'loos-normal', helvetica, arial;
    font-weight: 500;
    font-style: normal;
}

h3 {
    font-family: 'Gill Sans MT', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'transducer', sans-serif;
    font-weight: 400;
}

body {
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.emphasize-text {
    font-family: 'loos-normal', sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block;
    font-size: 2.1rem;
    padding-top: 0.2rem;
}

.h-two-fonts {
    font-family: 'transducer', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #272C32;
}

.text-margin-left {
    margin-left: 1rem;
}

.home-container1 {
    background-image: url(/images/background/museum-hall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}

.home-box1, .home-box2, .home-box3 {
    background-color: white;
    margin: 2em;
}

.home-box2 {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.home-box3-content-wrap {
    display: flex;
    justify-content: space-between;
}

.img-auto-scale {
    height: auto;
    width: 100%;
}

.button1 {
    background-color: #00337E;
    font-family: 'loos-normal', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    height: 18px;
    width: 145px;
}

.home-box4, .home-box5, .home-box6 {
    background-color: white;
    margin: 3em 3em;
}

@media (min-width: 1000px) {
    .home-container1 {
        display: flex;
    }
    .home-container2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }}

    /* About page */
.text-image-wrap {
    background-image: url(/images/background/staff.jpg);
    height: 60vw;
    width: 60vw;
    background-repeat: no-repeat;
}
.about-img-text-wrap {
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
}

.staff-img {
    height: auto;
    width: 100%;
}

.contact-wrap {
    border: solid 1px #272C32;
    padding: 1rem;
}